@model RestaurantRater.Models.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3> Are you sure you want to delete this?</h3>
<div>
    <h4> Restaurant</h4>
    <hr/>
    <dl class="dl-horizontal"> @*dl is bootstrap for description list, and horizontal tells it to put details to the side of the description term*@
        <dt> <!--Dt stands for description term it is what is the name of the property that will be displayed the value is going to be of-->>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd><!--dd stands for description data it is the value the property that going to be displayed for instance here it would be the value that the restaurant is set to-->
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CuisineType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuisineType)
        </dd>
    </dl>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-defa;ut"/>
            @Html.ActionLink("Back to List", "Index")
            
        </div>
    }
</div>

